#middlePane {
	-fx-background-color: #CCFF99;
}

#addButton {
	-fx-text-fill: #009900;
    -fx-border-color: #009900;
}

#cleanButton {
	-fx-text-fill: #FF2222;
    -fx-border-color: #FF2222;
}

.button {
	-fx-font-weight : bold;
	-fx-background-color: linear-gradient(#CED795,#99AC20);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.button:hover {
	-fx-background-color: linear-gradient(#99AC20,#C2D15D);
}

.root{
	-fx-text-fill: rgb(0,0,0);
    -fx-font-size: 9pt;
    -fx-font-family: "Kristen ITC";
    -fx-base: #84912F;
}